<h2><%= @oopsy.alpha %></h2>
<hr/>
<div class='row'>
    <div class='span4'>
        <%= image_tag @oopsy.vampire.url %>
    </div>
    <div class='span8'>
        <p>Sexy: <strong><%= @oopsy.sexy %></strong></p>
        <p>Cool: <strong><%= @oopsy.cool %></strong></p>
    </div>
</div>